<li id="previous">
    <a href="{{previousLink}}">Previous</a>
</li>
<li id="current">
   <a href="{{currentPageLink}}">{{currentPage}}</a>
</li>
<li id="next">
   <a href="{{nextLink}}">Next</a>
</li>
